node_modules
.env
server/data
server/uploads/originals/*
server/uploads/generated/*
server/uploads/spreadsheets/*
server/uploads/client-documents/*
!server/uploads/originals/.gitkeep
!server/uploads/generated/.gitkeep
!server/uploads/spreadsheets/.gitkeep
client/dist
.DS_Store
